<div class="card rounded shadow-sm p-1 mt-2 bg-light">
  <form [formGroup]="formPerfil">
    <div class="row p-1">
      <div class="col-lg-4 pt-1">
        <div class="card mb-3 ">
          <div class="card-header "></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row me-0">
          <div class="form-group col-12 p-1 m-0">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col-3 p-1 m-0">
            <label>Título</label>
            <select class="form-select" formControlName="titulo" [ngClass]="{ 'is-invalid': fc.titulo.errors && fc.titulo.touched }">
              <option selected value=""></option>
              <option value="Não Quero">Não Quero</option>
              <option value="Tecnólogo">Tecnólogo(a)</option>
              <option value="Bacharel">Bacharel</option>
              <option value="Especialista">Especialista</option>
              <option value="Pós-Graduado">Pós Graduado(a)</option>
              <option value="Mestre">Mestre</option>
              <option value="Doutor">Doutor(a)</option>
              <option value="Pós Doc">Pós Doc</option>
            </select>
            <div class="invalid-feedback">{{ messageReturned(fc.titulo, "") }} </div>
          </div>
          <div class="form-group col-sm-4 p-1 m-0">
            <label >Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="nome" [ngClass]="{ 'is-invalid': fc.nome.errors && fc.nome.touched }"/>
            <div class="invalid-feedback">{{ messageReturned(fc.nome, "") }}</div>
          </div>
          <div class="form-group col-sm-5 p-1 m-0">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="sobrenome" [ngClass]="{ 'is-invalid': fc.sobrenome.errors && fc.sobrenome.touched }"/>
            <div class="invalid-feedback">{{ messageReturned(fc.sobrenome, "") }}</div>
          </div>
        </div>
        <div class="row me-0">
          <div class="form-group col-sm-5 p-1 m-0">
            <label>e-mail</label>
            <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': fc.email.errors && fc.email.touched }" />
            <div class="invalid-feedback">{{ messageReturned(fc.email, "") }}</div>
          </div>
          <div class="form-group col-sm-4 p-1 m-0">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="telefone" [ngClass]="{ 'is-invalid': fc.telefone.errors && fc.telefone.touched }"/>
            <div class="invalid-feedback">{{ messageReturned(fc.telefone, "") }}</div>
          </div>
          <div class="form-group col-sm p-1 m-0">
            <label>Função</label>
            <select class="form-select" formControlName="funcao" [ngClass]="{ 'is-invalid': fc.funcao.errors && fc.funcao.touched }">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div class="invalid-feedback">{{ messageReturned(fc.funcao, "") }}</div>
          </div>
          <form-group class="col-12 p-1 m-0">
            <label>Descrição</label>
            <textarea type="text" class="form-control" formControlName="descricao" [ngClass]="{ 'is-invalid': fc.descricao.errors && fc.descricao.touched }"></textarea>
            <div class="invalid-feedback">{{ messageReturned(fc.descricao, "") }}</div>
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom p-1 m-0">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="row p-1">
          <div class="form-group col-sm-6 p-1 m-0">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': fc.password.errors && fc.password.touched }"/>
            <div class="invalid-feedback">{{ messageReturned(fc.password, "") }}</div>
          </div>
          <div class="form-group col-sm-6 p-1 m-0">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmarPassword" [ngClass]="{ 'is-invalid': fc.confirmarPassword.errors && fc.confirmarPassword.touched }"/>
            <div class="invalid-feedback">{{ messageReturned(fc.confirmarPassword, "Confirmar Senha") }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto  " (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-outline-success" [disabled]="formPerfil.invalid">
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>

{{formPerfil.value | json}}
{{formPerfil.status }}
