<div class="card rounded shadow-sm p-1 pb-2 mt-2 bg-body-tertiary">
  <div class="row p-1">
    <div class="col-lg-3 pt-1">
      <div class="card mb-3">
        <div class="card-header p-2 bg-secondary text-center text-white">
          Perfil Card
          <input
          type="file"
          #file
          class="form-control is-invalid"
          (change)="onFileChange($event)"
          placeholder=""
          style="display: none"
          />
        </div>
        <div class="d-flex align-self-center pt-3">
          <a>
            <img
              [src]="imagemURL"
              (click)="file.click()"
              name="aboutme"
              width="120"
              height="120"
              class="rounded-circle"
              role="button"
            />
          </a>
        </div>
        <div class="card-body">
          <div class="h7 text-center mb-3"> <i class="fa fa-at"></i> {{ usuario.email }}</div>
          <div class="h7 text-bold pb-1">
            <b>Título: </b>{{ usuario.titulo }}
            <br>
            <b>Nome: </b>{{ usuario.primeiroNome }} {{ usuario.ultimoNome }}
            <br>
            <b>e-mail: </b>{{ usuario.email }}
            <br>
            <b>Conta: </b>{{ usuario.userName }}
            <br>
            <b>Contato: </b>{{ usuario.phoneNumber }}
            <br>
            <b>Função: </b>{{ usuario.funcao }}
            <hr>
          </div>
          <div class="h7">
            {{ usuario.descricao }}
          </div>
        </div>
        <div class="card-footer bg-secondary p-1">
          <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary ">
              <div class="row">
                <div class="col-5 text-center border-right text-white">
                  <div class="h5">0</div>
                  <div class="h6 text-muted">Meus Eventos Criados</div>
                </div>
                <div class="col-7 text-center text-white">
                  <div class="h5">0</div>
                  <div class="h6 text-muted">Eventos como {{ehPalestrante ? "Palestrante" : "Participante"}}</div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <tabset>
        <tab>
          <ng-template tabHeading>
            <i class="fa fa-address-card me-2"></i>
            <span>Perfil</span>
          </ng-template>
          <app-perfil-detalhe (changeFormValue)="getFormValue($event)"></app-perfil-detalhe>
        </tab>
        @if (ehPalestrante) {
          <tab >
            <ng-template tabHeading>
              <i class="fa fa-user me-2"></i>
              <span>Palestrante</span>
            </ng-template>
            <app-palestrante-detalhe></app-palestrante-detalhe>
          </tab>
          <tab >
            <ng-template tabHeading>
              <i class="fa fa-share-square me-2"></i>
              <span>Rede Social</span>
            </ng-template>
            <app-redes-sociais></app-redes-sociais>
          </tab>
        }
      </tabset>
    </div>
  </div>
</div>
